
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

:root{
    --primary-color:skyblue;
    --secondary-color:orange;
    --tertiary-color:black;
    --linear-gradient-primary:rgba(254,163,1,1.00);
    --linear-gradient-card-1:rgba(222,245,255,1.00);
    --linear-gradient-card-2:rgba(255,244,220,1.00);
    --linear-gradient-card-3:rgba(238,225,255,1.00);


}
body{
    max-width:1440px;
    margin: 0 auto;
    font-family: "Quicksand";
}

/* shared styles */
.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.display-flex-1{
    display: flex;
   
   
}
.display-grid{
    display: grid;
  
}
.btn-primary{
    padding: 10px 40px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 8px;
    border: none;
}
.description-title-1{
    font-size: 1rem;
    margin: 24px 0;
}
.btn-secondary{
    padding: 10px 40px;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 8px;
    border: none;
}

/* Nav related style  */
.hide{
    display: none;
}
.navbar{

    /* gap: 186px; */
    /* align-items: center;
    */
    padding: 20px 0;
}
#school{
    font-size: 32px;
    font-weight: 400;
}
.navigation li{
    list-style: none;
}
.navigation ul{
  gap: 32px;
}
.navigation li a{
    text-decoration: none;
}
.navigation-link-1 a{
    color: rgb(254, 163, 1);
}
.navigation-link-2 a{
    color: rgb(1, 172, 253);
}
.navigation-link-3 a{
    color: rgb(5,212,223);
}
.navigation-link-4 a{
    color: rgb(93,88,239);
}
/* hero section related styles */
.herotext {
    width: 639px;
    /* margin: 0 auto; */
    height: 331px;
    margin: 122px 0;
}
.hero-container{
    gap: 50px;
    justify-content: center;
}
.hero-png {
    height: 575px;
    /* width: 468px; */
}
.heading-title-1{
    font-size: 3.5rem;
    font-weight: 600;
    font-family:"Quicksand";
    
}
#orange{
    color: var(--secondary-color);

}
#blue{
    color: var(--primary-color);
}


/* Curriculum related styles */


.curriculum-container{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
}
.heading-title{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
#card-container{
    justify-content: center;
    gap: 30px;

}
.card{
    width: 370px;
    height: 476px;
    border-radius: 18px;
    padding: 50px 40px;
    /* box-shadow: 0 0 28.3 0.94 black ; */
}
.card-1{
border: 0.94px solid var(--linear-gradient-card-1);
box-shadow: 0px 0px 28px .94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-2{
  
border: 0.94px solid var(--linear-gradient-card-2);
border-radius: 18px;

box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    box-sizing: border-box;
border: 0.94px solid var(--linear-gradient-card-3);
border-radius: 18px;

box-shadow:  0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
width: 50%;
margin: 0 auto;    

}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0;
    text-align: center;
}
.card-description{
    font-size: 1rem ;
    color: #808080;
    margin-bottom: 33px;
    text-align: center;
}
.readmore{
    text-align: center
}
.readmore-btn-1{
    
    color: #64C8FF;
   
    border: none;
    
}
.readmore-btn-2{
    
    color: orange ;
    
    border: none;
    
}
.readmore-btn-3{
    
    color:#8700FF;
    border-radius: 8px;
    border: none;
    
}
.arrow-button{
    margin: 80px 0;
    text-align: center;
}

.arrow-btn{
height: 60px;
width: 60px;
border-radius: 30px;
font-size: 1.6rem;
font-weight: 600;
color: white;
background-color: orange;
border:none;


}
.dassed{
    border:2px dashed #b6afaf
 }

 /* Our story related design */
 /* #story-card{
    height: 300px;
    width: 290px;
 } */
 /* .story-card-1 img{
    width: 540px;
   height: 337px;
 } */
  .story-head-title{
    font-size: 3.5rem;
    font-weight: 600;
    font-family:"Quicksand";
    margin-bottom: 80px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
  }
  .story-title{
    font-size: 3.5rem;
    font-weight: 600;
    font-family:"Quicksand";
    margin-bottom: 80px;
    
    margin-top: 140px;
  }
  .story-card-1{
    grid-area: story-card-1;
  }
  .story-card-2{
    grid-area: story-card-2;
  }
  .story-card-3{
    grid-area: story-card-3;
  }
  .story-card-4{
    grid-area: story-card-4;
  }
  .story-card-5{
    grid-area: story-card-5;
  }
.our-story{
    background:url("../assets/bg.png"),linear-gradient(0.00deg,rgba(254,163,1,0.3),rgba(255, 255, 255, .3)100%);
}
  .story-card-container{
    display: grid;
    grid-template-areas:"story-card-1 storycard-1 story-card-2 story-card-3"

                        "story-card-1 storycard-1 story-card-4 story-card-5";
        gap: 10px;
        justify-content: center;
  }
  
  .story-card-1{
    grid-area: story-card-1;
    width: 540px;
    height: 630px;
    background-color: white;
    border-radius: 16px;
   
   
  }
  h3.story-title {
   
    margin: 25px 38px;
    font-size: 1.5rem;
}
.story-titles{
    font-size: 1rem;
    margin:0px 28px;
    
}
.story-description {
    margin: 0px 38px;
    font-size: .8rem;
    line-height: 28.8px;
    color:#808080;
}
#story-card img{
    
        max-width: 100%;
        border-radius: 16px 16px 0 0;
    
}
.float-btn{
    padding: 20px 40px;
    background-color: skyblue;
    color: white;
    border-radius: 47px;
    border: none; 
    font-size: 1rem;
    font-weight: 400;
}
.story-float{
    position: relative;
    left: 5%;
    bottom: 5%;
}
.story-float-2-5{
    position: relative;
    left: 8%;
    bottom: 10%;
}
.float-btn-2{
    padding: 1rem 2.3rem;
    background-color: #95B226;
    color: white;
    border-radius: 47px;
    border: none; 
    font-size: 1rem;
    font-weight: 400;
}
.float-btn-3{
    padding: 1rem 2.3rem;
    background-color: #5D58F0;
    color: white;
    border-radius: 47px;
    border: none; 
    font-size: 1rem;
    font-weight: 400;
}

.story-card-2-5{
    width: 290px;
    height: 300px;
    border-radius: 16px;
    background-color: white;
}
.view{
    text-align: center;
}
.view-btn{
    
    margin: 100px 0;

    
}
/* footer related styles  */
footer{
    background-color: #01ACFD;
    grid-template-columns: repeat(3,1fr);
    padding: 122px 228px 175px 140px;
    color:white;
    justify-items: flex-end;

}
.part-1{
    display: flex;
        flex-direction: column;
        gap: 20px;
}
.part-1-head {
    display: flex;

    align-items: center;
    gap: 5px;}

    .footer-list{
        
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-list a{
        text-decoration: none;
        color: white;
    }
 .footer-title-2{
    font-size: 1.5rem;
    margin-bottom: 20px;
 }

 /* Marquee tag  */
 .marq{
    background-color: var(--linear-gradient-primary);
    color:white
 }
/* responsive related design */
@media screen and (max-width:576px) {
    .navbar{
    padding: 20px ;
    justify-content: space-between;
    }
 .navigation{
    display:none
 } 
.navbar >button{
    display: none;
}
#school >h4{
    display: none;
}
#grabber{
    display: inline;
 }   
 /* hero part  */
 .hero-container{
    flex-direction:column-reverse;
   
 }
 .hero-png{
    margin:0 auto;

 }
 .hero-png img{
    max-width: 100%;
    
 }
 .herotext{
    max-width: 100%;
    text-align: center;
 }
 .heading-title-1{
    font-size: 32px;
 }
 .description-title-1{
    font-size: 14px;
 }
 .heading-title{
    margin-top: 10px;
 }
 /* curriculum section  */
 #card-container{
    flex-direction: column;
 }
 .arrow-btn{
    display: none;
 }
 /* our story section  */
.story-card-2-5{
    width: calc(100% - 20px);
}
 .story-card-1{
display: none;
 }
 .story-card-container{
    margin-left: 15px;
grid-template-areas: " story-card-2 story-card-3"

                        " story-card-4 story-card-5";
 }
 .story-float-2-5{
    position: relative;
    left: 3%;
    bottom: 7%;
}

 /* responsive footer  */

footer{
    grid-template-columns: 1fr;
    padding: 30px;
    justify-items: baseline;
    gap: 10px;
}

}

