
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

:root{
    --primary-color:skyblue;
    --secondary-color:orange;
    --tertiary-color:black;
    --linear-gradient-primary:rgba(254,163,1,1.00);
    --linear-gradient-card-1:rgba(222,245,255,1.00);
    --linear-gradient-card-2:rgba(255,244,220,1.00);
    --linear-gradient-card-3:rgba(238,225,255,1.00);


}
body{
    max-width:1440px;
    margin: 0 auto;
    font-family: "Quicksand";
}

/* shared styles */
.display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.display-flex-1{
    display: flex;
   
   
}
.display-grid{
    display: grid;
  
}
.btn-primary{
    padding: 10px 40px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 8px;
    border: none;
}
.description-title-1{
    font-size: 1rem;
    margin: 24px 0;
}
.btn-secondary{
    padding: 10px 40px;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 8px;
    border: none;
}

/* Nav related style  */
.hide{
    display: none;
}
.navbar{

    /* gap: 186px; */
    /* align-items: center;
    */
    padding: 20px 0;
}
#school{
    font-size: 32px;
    font-weight: 400;
}
.navigation li{
    list-style: none;
}
.navigation ul{
  gap: 32px;
}
.navigation li a{
    text-decoration: none;
}
.navigation-link-1 a{
    color: rgb(254, 163, 1);
}
.navigation-link-2 a{
    color: rgb(1, 172, 253);
}
.navigation-link-3 a{
    color: rgb(5,212,223);
}
.navigation-link-4 a{
    color: rgb(93,88,239);
}
/* hero section related styles */
.herotext {
    width: 639px;
    /* margin: 0 auto; */
    height: 331px;
    margin: 122px 0;
}
.hero-container{
    gap: 50px;
    justify-content: center;
}
.hero-png {
    height: 575px;
    /* width: 468px; */
}
.heading-title-1{
    font-size: 3.5rem;
    font-weight: 600;
    font-family:"Quicksand";
    
}
#orange{
    color: var(--secondary-color);

}
#blue{
    color: var(--primary-color);
}




/* responsive related design */
@media screen and (max-width:576px) {
    .navbar{
    padding: 20px ;
    justify-content: space-between;
    }
 .navigation{
    display:none
 } 
.navbar >button{
    display: none;
}
#school >h4{
    display: none;
}
#grabber{
    display: inline;
 }   
 /* hero part  */
 .hero-container{
    flex-direction:column-reverse;
   
 }
 .hero-png{
    margin:0 auto;

 }
 .hero-png img{
    max-width: 100%;
    
 }
 .herotext{
    max-width: 100%;
    text-align: center;
 }
}